<div class="content">

    <h1>MusiQ</h1>

    <form method="POST" action="{{ url_for('index.download') }}">

        <div class="input-row">
            <input id="link-inp" type="text" name="youtube_link" placeholder="Inserta el link de youtube..." required>
            
            <button id="download-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" x2="12" y1="15" y2="3"></line>
            </svg>
        </button>
    </div>

        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}

    </form>

</div>