.list-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.input-row input {
    height: 2rem;
    flex: 1;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.input-row input:read-only {
    background-color: #CCC;
    color: #666;
    cursor: progress;
    border-color: #AAA;
}

.input-row button {
    background-color: #000000;
    border-radius: 5px;
    color: white;
    border: none;
    padding: .75rem 1rem;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease-out;
}

.input-row button:hover {
    background-color: #0056b3;
    transition: all .3s ease-out;
}

.input-row button:disabled {
    background-color: #CCC;
    color: #666;
    cursor: progress;
}

.item-list {
    width: 100%;
    list-style: none;
    max-height: 40vh;
    overflow-y: scroll;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.item-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0rem;
    cursor: pointer;
    transition: all .3s ease-out;
}

.item-list li button {
    background-color: hsl(0 72% 51%);
    border-radius: 5px;
    color: hsl(0 0% 98%);
    border: none;
    padding: 1rem;
    margin-right: .5rem;
    cursor: pointer;
    align-self: end;
    transition: all .3s ease-out;
}

.item-list li button:hover {
    background-color: hsl(0 72% 60%);
    color: hsl(0 0% 98%);
    transition: all .3s ease-out;
}

.item-list li button:disabled {
    background-color: #CCC;
    color: #666;
    cursor: not-allowed;
    transition: all .3s ease-out;
}

.item-list li span {
    flex: 1;
    margin-left: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 90%; 
}

.item-list li:hover {
    background: rgb(203 213 225);
    transition: all .3s ease-out;
}

.download-btn {
    background-color: #000000;
    border-radius: 5px;
    color: white;
    border: none;
    padding: .75rem 4rem;
    cursor: pointer;
    font-size: 16px;
    align-self: end;
    transition: all .3s ease-out;
}

.download-btn:hover {
    background-color: #0056b3;
    transition: all .3s ease-out;
}

.download-btn:disabled {
    background-color: #CCC;
    color: #666;
    cursor: progress;
    transition: all .3s ease-out;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.fade-out-right {
    animation: fadeOutRight 0.5s forwards;
}